<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#home" class="logo">Documentation</a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav>
            <ul class="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">SomeClass</a></li>
                <li><a href="#Portfolio">SomeClass</a></li>
                <li><a href="#about">SomeClass</a></li>
                <li><a href="#contact">SomeClass</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>