<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ethiopian Leap Year Checker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.nav');

            menu.onclick = () => {
                menu.classList.toggle('bx-x');
                navbar.classList.toggle('active');
            };

            window.onscroll = () => {
                menu.classList.remove('bx-x');
                navbar.classList.remove('active');
            };
        });
    </script>
</head>

<body>
    <header>
        <div class="logo">
            <a th:href="@{/}" class="logo">Data <span>Structure</span> & Algorithm</a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav>
            <ul class="nav">
                <li><a th:href="@{/miyazia}">Calendar</a></li>
                <li><a th:href="@{/to-ethiopian}">Converter</a></li>
                <li><a th:href="@{/leap}">Leap Year</a></li>
                <li><a th:href="@{/ethiopian}">Weekday</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
                <li><a th:href="@{/documentation}">Documentation</a></li>
            </ul>
        </nav>
    </header>
    <section class="contact" id="contact">
        <h2>Leap year Checker</h2>

        <form action="/check" method="post">
            <div class="input-box">
                <label for="year">Enter Ethiopian year:</label>
                <input type="number" id="year" name="year" required>
            </div>

            <button class="btn" type="submit">Check</button>
        </form>

        <p th:if="${result != null}" th:text="${result}"></p>
    </section>

</body>

</html>