<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gregorian to Ethiopian Date Converter</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        function validateForm() {
            var year = document.forms["weekdayForm"]["year"].value;
            var month = document.forms["weekdayForm"]["month"].value;
            if (year == "" || month == "") {
                alert("Both fields must be filled out.");
                return false; 
            }
            return true; 
        }
    </script>
</head>

<body>
    <header>
        <div class="logo">
            <a th:href="@{/}" class="logo">Data <span>Structure</span> & Algorithm</a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav>
            <ul class="nav">
                <li><a th:href="@{/miyazia}">Calendar</a></li>
                <li><a th:href="@{/to-ethiopian}">Converter</a></li>
                <li><a th:href="@{/leap}">Leap Year</a></li>
                <li><a th:href="@{/ethiopian}">Weekday</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>
    
     
    
    <section id="contact" class="contact">
        <div th:if="${ethYear}" class="service-container">
            <div class="service-box">
                <p><b>Ethiopian Date: </b> <span th:text="${ weekday } " /> </span> <span th:text="${ethDay}" /> / <span
                        th:text="${ethMonth}" /> / <span th:text="${ethYear}" /> </p>
            </div>
            <div class="service-box">
                <p><b>Gregorian:</b> <span th:text="${gDay}" /> / <span th:text="${gMonth}" /> / <span
                        th:text="${gYear}" /></p>
            </div>

        </div>
        <div>
            <h2> 
                <a th:href="@{/to-ethiopian}">
                    <button class="btn">Reset</button>
                </a>
            </h2>
         </div>
        
        <h2>Gregorian ➡<span>Ethiopian Date Converter</span> </h2>
        <form action="/to-ethiopian" method="get" onsubmit="return validateForm()">
            <div class="input-group-2">
                <div class="input-box">
                    <label>Day:</label>
                    <input type="number" name="day" placeholder="Day" required/>
                    <label>Month:</label>
                    <input type="number" name="month" placeholder="Month" required/>
                </div>
            </div>
            <div class="input-group-2">
                <div class="input-box">
                    <label>Year:</label>
                    <input type="number" name="year" placeholder="Year" required/>
                    
                    <button type="submit" class="btn">Convert</button>
                </div>
            </div>
            <!-- </div> -->
             
            
        </form>
    </section>
    <!-- <section id="services" class="services"> 
        

     </section>  -->
</body>

</html>